/* List Styles */
section {
    padding: 2rem;
  }
  
  section ul {
    list-style: none;
    padding: 0;
  }
  
  section li {
    margin-bottom: 1rem;
  }
  
  section img {
    max-width: 100px;
    height: auto;
    margin-right: 1rem;
  }
  